@model IEnumerable<Dragon_BlogReal.Models.Comment>

@{
    ViewData["Title"] = "comments";
}

<h1>Comments</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Post)
            </th>
            <th>
                Blog User
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Post.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BlogUser.FirstName)
                </td>
                @if (User.IsInRole("Admin"))
                {

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
                @if (User.IsInRole("Moderator"))
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>|
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>